[Unit]
Description=Avalon containers
Requires=docker.service
After=docker.service

[Service]
Restart=always
WorkingDirectory=/root/avalon-docker
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down
[Install]
WantedBy=default.target
