[Unit]
Description=Avalon containers
Requires=docker.service
After=docker.service

[Service]
Restart=always
User=avalon
Group=docker
WorkingDirectory=/home/avalon/avalon-docker
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down
[Install]
WantedBy=default.target
